<pre>
  <%= @rada.inspect %>
</pre>
<head>
    <title>Fotoorienteerumine</title>
</head>
<body>
<div id="header1">
    <h1>FOTOORIENTEERUMINE</h1>
</div>
<div id="main">
    <div>
        <a href="pealeht" class="button home">Logi sisse</a>
        <a href="pealeht" class="button home">Logi sisse (Facebook)</a>
        <a href="pealeht" class="button home">Logi sisse (Google)</a>
        <a href="pealeht" class="button home">Registreeru</a>		
        <a href="en/avaleht" class="button home">In English</a>
    </div>
</div>
<div id="footer">
    <h2 id="footer_h2"> e-mail: fotoorienteerumine@gmail.com<span class="tab">skype:fotoorienteerumine</span> <span class="tab">twitter: @fotoo </span>
    </h2>
</div>
</body>